In [1]:
children =["Andrew","Laura","Joe"]
type(children)

list

In [14]:
children.append("Thomas")

In [6]:
children.pop(3)
children

['Andrew', 'Laura', 'Joe']

In [7]:
children.index("Joe")

2

In [9]:
print (children)
children.pop(children.index("Thomas"))
print (children)

['Andrew', 'Laura', 'Joe', 'Thomas']
['Andrew', 'Laura', 'Joe']

In [11]:
print (children)
children.remove("Thomas")
print (children)

['Andrew', 'Laura', 'Joe', 'Thomas']
['Andrew', 'Laura', 'Joe']

In [13]:
print (children)
children.pop()
print (children)

['Andrew', 'Laura', 'Joe', 'Thomas']
['Andrew', 'Laura', 'Joe']

In [15]:
print (children)
children.remove()
print (children)

['Andrew', 'Laura', 'Joe', 'Thomas']

TypeError: remove() takes exactly one argument (0 given)

In [16]:
#checking that input is an integer
'Frank' in children

False

In [17]:
'Joe' in children

True

In [19]:
'Joe'[2]

'e'

In [20]:
'k' in children[2]

False

In [21]:
'k' in '1234567890'

False

In [22]:
'1'  in '1234567890'

True

In [24]:
print(input("add an integer") in '1234567890' )

add an integerA
False

In [25]:
# With 3 rows and 4 columns
students = [["Joel", 85, 95, 70],
            ["Anne", 95, 100, 100],
            ["Mike", 77, 70, 80, 85]]
# With 3 rows and 3 columns
movies = [["The Holy Grail", 1975, 9.99],
          ["Life of Brian", 1979, 12.30],
          ["The Meaning of Life", 1983, 7.50]]

In [26]:
movies[1]

['Life of Brian', 1979, 12.3]

In [27]:
movies[1][0]

'Life of Brian'

In [29]:
students[1][3]

100

In [32]:
flick = []
flick.append('Kundun')
flick.append(1997)
flick.append(4.7)
movies.append(flick)
movies

[['The Holy Grail', 1975, 9.99],
 ['Life of Brian', 1979, 12.3],
 ['The Meaning of Life', 1983, 7.5],
 ['Kundun', 1997, 4.7]]

In [33]:
print(movies)

[['The Holy Grail', 1975, 9.99], ['Life of Brian', 1979, 12.3], ['The Meaning of Life', 1983, 7.5], ['Kundun', 1997, 4.7]]

In [34]:
lssimple =[1,2,1,3,2,2,2,2,]

In [35]:
lssimple.index(2)

1

In [36]:
lssimple.count(2)

5

In [39]:
children.reverse()

In [46]:
children.sort(key=str.lower)

In [74]:
children

['Andrew', 'Joe', 'Laura', 'Thomas']

In [111]:
lssimple

[1, 1, 2, 2, 2, 2, 2, 3]

In [48]:
print(min(lssimple))

1

In [49]:
print(max(lssimple))

3

In [56]:
#list[start_index:end_index:step]
fancy = [52,54,56,58,60,62]
print(fancy[0:2])
print(fancy[::-1])

[52, 54]
[62, 60, 58, 56, 54, 52]

In [57]:
print(fancy[0:4:2])
print(fancy[:2])

[52, 56]
[52, 54]

In [61]:
inv = ["staff","robe"]
chest = ["scroll","pestle"]

print(chest + inv)
print(inv + chest)

['scroll', 'pestle', 'staff', 'robe']
['staff', 'robe', 'scroll', 'pestle']

In [67]:
#inv -= chest
inv

['staff', 'robe']

In [63]:
chest

['scroll', 'pestle']

In [66]:
inv.pop()

'scroll'

In [72]:
tup =('staff', 'robe', 'scroll', 'pestle')

In [69]:
type(tup)

tuple

In [70]:
tup =(1,"e", 2.6)

In [73]:
a,b,c,d = tup
print("a: ",a)
print("b: ",b)
print("c: ",c)
print("d: ",d)

a:  staff
b:  robe
c:  scroll
d:  pestle

In [75]:
a,b,c,d = children
print("a: ",a)
print("b: ",b)
print("c: ",c)
print("d: ",d)

a:  Andrew
b:  Joe
c:  Laura
d:  Thomas

In [81]:
def dummy_gps():
    x =5
    y = 6
    z = 78
    return x,y,z

In [85]:
gy = dummy_gps()
type(gy)

tuple

In [84]:
a,b,c = dummy_gps()
print("a: ",a)
print("b: ",b)
print("c: ",c)

a:  5
b:  6
c:  78

In [94]:
gy

(5, 6, 78)

In [87]:
childset = {'Andrew', 'Joe', 'Laura', 'Thomas'}

In [88]:
type(childset)

set

In [89]:
'Bob' in childset

False

In [92]:
childset.insert('Wallace')

AttributeError: 'set' object has no attribute 'insert'

In [99]:
child = {'Thomas','Barbara'}

In [97]:
child & childset

{'Thomas'}

In [100]:
child | childset

{'Andrew', 'Barbara', 'Joe', 'Laura', 'Thomas'}

In [101]:
child = {'Thomas','Barbara','Thomas'}
child

{'Barbara', 'Thomas'}

In [102]:
#Python comprehensions
for i in childset:
    print(i)

Joe
Thomas
Andrew
Laura

In [107]:
distinct_lssimple = { i for i in lssimple }
distinct_lssimple

{1, 2, 3}

In [108]:
distinctuple = ( i for i in lssimple )
distinctuple

In [109]:
child_list = [g for g in childset]
child_list

['Joe', 'Thomas', 'Andrew', 'Laura']

In [112]:
tf_gt2 = [ i <= 2 for i in lssimple]
tf_gt2

[True, True, True, True, True, True, True, False]

In [116]:
newbundle = zip(lssimple,tf_gt2)
list(newbundle)

[(1, True),
 (1, True),
 (2, True),
 (2, True),
 (2, True),
 (2, True),
 (2, True),
 (3, False)]

In [118]:
pc1 = [(i, i <= 2 ) for i in lssimple]
pc1

[(1, True),
 (1, True),
 (2, True),
 (2, True),
 (2, True),
 (2, True),
 (2, True),
 (3, False)]

In [120]:
my_dict = {'a': 1, 'b': 2, 'c': 3, 'a':4}
my_dict

{'a': 4, 'b': 2, 'c': 3}

In [185]:
my_dict2 = {'e': [1,3], 'b': "2", 'c': 3, 'a':[(1, True),
 (1, True),
 (2, True),
 (2, True),
 (2, True),
 (2, True),
 (2, True),
 (3, False)]}

In [126]:
my_dict2.items()

dict_items([('e', [1, 3]), ('b', '2'), ('c', 3), ('a', [(1, True), (1, True), (2, True), (2, True), (2, True), (2, True), (2, True), (3, False)])])

In [175]:
def sillytry(keyname):
    #exception handling
    #try block
    try:
        value = my_dict2[keyname]
    except KeyError:
        value = 'invalid key'
    return value

print(sillytry('a'))

invalid key

In [129]:
children[4]

IndexError: list index out of range

In [ ]:
IndexError: list index out of range
KeyError: ''

In [136]:
my_dict2

{'e': [1, 3],
 'b': '2',
 'c': 3,
 'a': [(1, True),
  (1, True),
  (2, True),
  (2, True),
  (2, True),
  (2, True),
  (2, True),
  (3, False)]}

In [137]:
my_dict2.pop('a')
my_dict2

{'e': [1, 3], 'b': '2', 'c': 3}

In [140]:
my_dict2.setdefault('h','newerdata')
my_dict2

{'e': [1, 3], 'b': '2', 'c': 3, 'h': 'newdata'}

In [141]:
value = my_dict2.get('f')
print(value is None)

True

In [143]:
type(my_dict2.get('f'))

NoneType

In [145]:
my_dict2.values()

dict_values([[1, 3], '2', 3, 'newdata'])

In [146]:
my_dict2.keys()

dict_keys(['e', 'b', 'c', 'h'])

In [147]:
my_dict2.items()

dict_items([('e', [1, 3]), ('b', '2'), ('c', 3), ('h', 'newdata')])

In [149]:
my_dict2['e']

[1, 3]

In [150]:
for k,v in my_dict2.items():
    print('key: {} value {}'.format(k,v))

key: e value [1, 3]
key: b value 2
key: c value 3
key: h value newdata

In [151]:
print(list(my_dict2))

['e', 'b', 'c', 'h']

In [153]:
child_d = dict(pc1)
child_d

{1: True, 2: True, 3: False}

In [156]:
contacts = {
    "Joel":{"address": "1500 Anystreet", "city": "San Francisco",
         "state": "California", "postalCode": "94110", 
         "phone": "555-555-1111"},
    "Anne":{"address": "1000 Somestreet", "city": "Fresno",
         "state": "California", "postalCode": "93704", 
         "phone": "125-555-2222"},
    "Ben": {"address": "1400 Another Street", "city": "Fresno",
         "state": "California", "postalCode": "93704", 
         "phone": "125-555-4444"}
}

In [159]:
print(contacts.keys())
print(contacts.items())
print(contacts.values())

dict_keys(['Joel', 'Anne', 'Ben'])
dict_items([('Joel', {'address': '1500 Anystreet', 'city': 'San Francisco', 'state': 'California', 'postalCode': '94110', 'phone': '555-555-1111'}), ('Anne', {'address': '1000 Somestreet', 'city': 'Fresno', 'state': 'California', 'postalCode': '93704', 'phone': '125-555-2222'}), ('Ben', {'address': '1400 Another Street', 'city': 'Fresno', 'state': 'California', 'postalCode': '93704', 'phone': '125-555-4444'})])
dict_values([{'address': '1500 Anystreet', 'city': 'San Francisco', 'state': 'California', 'postalCode': '94110', 'phone': '555-555-1111'}, {'address': '1000 Somestreet', 'city': 'Fresno', 'state': 'California', 'postalCode': '93704', 'phone': '125-555-2222'}, {'address': '1400 Another Street', 'city': 'Fresno', 'state': 'California', 'postalCode': '93704', 'phone': '125-555-4444'}])

In [161]:
contacts['Ben']['phone']

'125-555-4444'

In [165]:
contacts.get('Ben').get('phone')

'125-555-4444'

In [169]:
contacts.get('Anne').get('email')

In [176]:
members = ["John Cleese", "Eric Idle"]
with open("members.txt", "w") as file:
    for m in members:
        file.write(m + "\n")          # adds new line

In [177]:
!head members.txt

John Cleese
Eric Idle

In [178]:
pc1

[(1, True),
 (1, True),
 (2, True),
 (2, True),
 (2, True),
 (2, True),
 (2, True),
 (3, False)]

In [181]:
print(pc1[0][0]," ",pc1[0][1])

1   True

In [182]:
with open("pc1.txt", "w") as file:
    for m in pc1:
        file.write(str(pc1[0][0])+" "+str(pc1[0][1]) + "\n")          # adds new line

In [196]:
import csv

with open("pc1.csv", "w", newline="") as file:
    writer = csv.writer(file,delimiter= "~",)
    writer.writerows(pc1)

TypeError: 'builtin_function_or_method' object is not iterable

In [203]:
with open("my_dict2_items.csv", "w",  newline="") as file:
    writer = csv.writer(file)
    for x in list(my_dict2):
        writer.writerow(str(x)+str(my_dict2[x]))

In [200]:
my_dict2['a']

[(1, True),
 (1, True),
 (2, True),
 (2, True),
 (2, True),
 (2, True),
 (2, True),
 (3, False)]

In [191]:
csv.writer?

In [208]:
def calculate_future_value(monthly_investment, yearly_interest, 
                           years):
    # convert yearly values to monthly values
    monthly_interest_rate = yearly_interest / 12 / 100
    months = years * 12

    # calculate future value
    future_value = 0.0
    for i in range(1, months): 
        future_value += monthly_investment_amount
        monthly_interest = future_value * monthly_interest_rate
        future_value += monthly_interest

    return future_value