In [1]:
import pandas as pd

df = pd.read_csv('C:\h2o\prediction_full_dataset.csv')

In [7]:
df.describe()

,Unnamed: 0,predict,p0,p1,PassengerId,Survived,Pclass,Age,SibSp,Parch,Ticket,Fare,Fare_ZScore,Age_ZScore
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,6.610000e+02,891.000000,8.910000e+02,7.140000e+02
mean,445.000000,0.408530,0.614206,0.385794,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,2.603185e+05,32.204208,6.690620e-16,2.124040e-16
std,257.353842,0.491838,0.361207,0.361207,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,4.716093e+05,49.693429,1.000562e+00,1.000701e+00
min,0.000000,0.000000,0.000000,0.003613,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,6.930000e+02,0.000000,-6.484217e-01,-2.016979e+00
25%,222.500000,0.000000,0.240600,0.065690,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,1.999600e+04,7.910400,-4.891482e-01,-6.595416e-01
50%,445.000000,0.000000,0.790066,0.209934,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,2.361710e+05,14.454200,-3.573909e-01,-1.170488e-01
75%,667.500000,1.000000,0.934310,0.759400,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,3.477430e+05,31.000000,-2.424635e-02,5.718310e-01
max,890.000000,1.000000,0.996387,1.000000,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,3.101298e+06,512.329200,9.667167e+00,3.465126e+00

In [3]:
df.describe(include='O')

                                          Name   Sex Cabin Embarked    Cluster
count                                      891   891   204      889        891
unique                                     891     2   147        3          4
top     Taussig, Mrs. Emil (Tillie Mandelbaum)  male    G6        S  Cluster 3
freq                                         1   577     4      644        317

In [ ]:
df_no_zscore.describe()

In [4]:
df['Fare_ZScore'] = (df['Fare'] - df['Fare'].mean()) / df['Fare'].std(ddof=0)

In [6]:
df['Age_ZScore'] = (df['Age'] - df['Age'].mean()) / df['Age'].std(ddof=0)

In [8]:
df_no_zscore = df

In [9]:
df_no_zscore.to_csv('C:\h2o\prediction_full_datasetz_zscore.csv')

In [6]:
#reference do not run
df['NVVar1_ZScore'] \
    = (
            df['NVVar1']  \
            -  \
            df['NVVar1'].mean() \
        )  \
            /  \
        df['NVVar1'].std(ddof=0)

In [10]:
df

,Unnamed: 0,predict,p0,p1,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Cluster,Fare_ZScore,Age_ZScore
0,0,0,0.984842,0.015158,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,NaN,7.2500,NaN,S,Cluster 3,-0.502445,-0.530377
1,1,1,0.022236,0.977764,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,NaN,71.2833,C85,C,Cluster 3,0.786845,0.571831
2,2,1,0.313374,0.686626,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,NaN,7.9250,NaN,S,Cluster 3,-0.488854,-0.254825
3,3,1,0.010000,0.990000,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803.0,53.1000,C123,S,Cluster 2,0.420730,0.365167
4,4,0,0.971236,0.028764,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450.0,8.0500,NaN,S,Cluster 0,-0.486337,0.365167
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,0,0.947372,0.052628,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536.0,13.0000,NaN,S,Cluster 3,-0.386671,-0.185937
887,887,1,0.020800,0.979200,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053.0,30.0000,B42,S,Cluster 2,-0.044381,-0.737041
888,888,0,0.889099,0.110901,889,0,3,"Johnston, Miss. Catherine Helen Carrie""""",female,NaN,1,2,NaN,23.4500,NaN,S,Cluster 3,-0.176263,NaN
889,889,1,0.525238,0.474762,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369.0,30.0000,C148,C,Cluster 2,-0.044381,-0.254825
890,890,0,0.739700,0.260300,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376.0,7.7500,NaN,Q,Cluster 0,-0.492378,0.158503